@import "tailwindcss";

:root {
  --background: #E7E5DE;
  --foreground: #252726;
  --pointcolor: #a0a0ff;
}

.dark{
  --background: #252726;
  --foreground: #E7E5DE;
  --pointcolor: #5353cd;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}
