@import "tailwindcss";

:root {
  --background: #E7E5DE;
  --foreground: #252726;
  --pointcolor: #a0a0ff;
  --highlightSize: 4rem;
  --titleSize: 6rem;
  --normalSize: 2rem;
  --nameSize: 9.5rem;
  --skillTitleSize: 4rem;
}


.dark{
  --background: #252726;
  --foreground: #E7E5DE;
  --pointcolor: #5353cd;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}
