@import "tailwindcss";

:root {
  --background: #E7E5DE;
  --foreground: #252726;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252726;
    --foreground: #E7E5DE;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}
