.mainContainer {
    display: grid;
    grid-template-columns: 1fr 60px; 
    height: 100vh;
    overflow: hidden;
}

.contentWrapper {
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: none;
}

.contentWrapper::-webkit-scrollbar {
    display: none;
}

.profileSection{
    display: grid;
    position: relative;
    grid-template-columns: 1000px 1fr;
    border-bottom: 2px solid var(--foreground);
}

.productsSection {
    padding: 40px;
    padding-left: 10px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: sticky;
    top: 0;
    height: 100vh;

    border-right: 2px solid var(--foreground);
}

.names{
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    gap: 10px;

    border-bottom: 2px solid var(--foreground);
}

.middleColumn {
    z-index: 10;
    margin-left: -30px;
    padding-left: 30px;
}

.middleColumn::-webkit-scrollbar {
    display: none; /* Webkit (Chrome, Safari, Edge) */
}

.rightColumn {
    border-left: 2px solid var(--foreground);
    z-index: 10;
    height: 100%;
}

.enName{
    font-size: 150px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

.jaName{
    font-size: 150px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.highlight{
    font-size: 60px;
    font-weight:bold;
}

.title{
    font-size: 100px;
    font-weight: 900;
}

.aboutMe{
    padding-left: 10px;
    margin-top: 500px;
    line-height: 1.2;
    font-size: 30px;

    border-top: 2px solid var(--foreground);

}


.ikigomi{
    margin-top: 50px;
}

.wrapperDeg{
    position: relative;
}
.lowerArrow{
    position: absolute;
    color: var(--foreground);
    right: 50px;
    bottom: 20px;

    transition: transform 1s ease;
}

.moved{
    transform: translateY(50px);
}

.skin{
    margin: auto;
}

.skills{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 300px;
    margin-top: 40px;
    border-top: 2px solid var(--foreground);
}

.icons{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
    padding-top: 5px;
}

@media (prefers-color-scheme: dark){
    .icons{
        filter: invert(100%);
    }
}

.marker{
    background: linear-gradient(transparent 60%,var(--pointcolor) 60%);
    display: inline;
}

.crown{
    color: var(--pointcolor);
    position: absolute;
    top: -20px;
    left: -20px;
    pointer-events: none;
    transform: rotate(-30deg);
    z-index: 50;
}

.wrapperGo{
    position: relative;
    display: inline-block;
}

.wapperGoAccordion{
    position: relative;
}

.conquerLeft{
    grid-column: 1 / 3;
}