.container{
    display: grid;
    align-items: start;

    grid-template-columns: 1000px 1fr 60px;

    height: 100vh;
    overflow: hidden;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    border-right: 2px solid var(--foreground);
}

.names{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    gap: 10px;

    border-bottom: 2px solid var(--foreground);
}

.middleColumn {
    overflow-y: auto; 
    height: 100%;

    scrollbar-width: none; /* Firefox */
}

.middleColumn::-webkit-scrollbar {
    display: none; /* Webkit (Chrome, Safari, Edge) */
}

.rightColumn {
    border-left: 2px solid var(--foreground);

    overflow-y: hidden; 
    height: 100%;
}

.enName{
    font-size: 150px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

.jaName{
    font-size: 150px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.highlight{
    font-size: 60px;
    font-weight:500;
}

.title{
    font-size: 100px;
    font-weight: bold;
}

.aboutMe{
    margin-top: 500px;
    line-height: 1.2;
    font-size: 30px;

    border-top: 2px solid var(--foreground);
}

.ikigomi{
    margin-top: 50px;
}

.skin{
    margin: auto;
}

.skills{
    margin-top: 40px;
    border-top: 2px solid var(--foreground);
}

.icons{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
    padding-top: 5px;
}

@media (prefers-color-scheme: dark){
    .icons{
        filter: invert(100%);
    }
}