.accordionToggle {
  display: none; /* チェックボックスは隠す */
}

.title {
    padding-top: 5px;
    padding-left: 10px;

    display: flex;
    justify-content: space-between;
    font-size: 60px;
    font-weight:bold;
    line-height: 1.2;

    border-bottom: 2px dashed var(--foreground);

    cursor: pointer;

    list-style: none;
}

.accordionWrapper{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;
}

.description{
    overflow: hidden;
    font-size: 30px;
    padding-left: 10px;
}

.accordionToggle:checked ~ .accordionWrapper {
  grid-template-rows: 1fr;
}