.wrapperCard{
    height: 700px;
    width: 500px;
    border: 2px dashed var(--foreground);
    border-radius: 30px;
    padding: 15px 30px 30px;
}

.thumbnail{
    border-radius: 15px;
}

.title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

.githubUrlWrapper{
    display: flex;
    flex-direction: row;
    margin-top: 20px;


}
.githubIcon{
    width:30px;
    height:auto;
    color: var(--foreground);
}

@media (prefers-color-scheme: dark){
    .githubIcon{
        filter: invert(100%);
    }
}

.description{
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .wrapperCard{
        height: 500px;
        width: 300px;
        border: 2px dashed var(--foreground);
        border-radius: 30px;
        padding: 5px 10px 10px;
    }
}