.wrapperCard{
    height: 700px;
    width: 500px;
    border: 2px dashed var(--foreground);
    border-radius: 30px;
    padding: 15px 30px 30px;
}

.thumbnail{
    border-radius: 15px;
}

.title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

.githubUrlWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
    line-height: 1.5;
    padding: 0 8px;
    border: 1px solid var(--foreground);
    border-radius:9999px;
}

.github{
    font-size: 1.2rem;
    padding-top: 3px;
    padding-left: 5px;
}

.description{
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .wrapperCard{
        height: 500px;
        width: 300px;
        border: 2px dashed var(--foreground);
        border-radius: 30px;
        padding: 5px 10px 10px;
    }
}